name: Registry Pull Tests via Proxy

on:
  push:
  workflow_dispatch:
  schedule:
     - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    
    
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      
    - name: Run comprehensive test suite
      run: |
        ./setup.sh --env=github
        ./test-image-pulls.sh
      timeout-minutes: 25
      
