name: Registry Pull Tests via Proxy

on:
  push:
  workflow_dispatch:
  schedule:
     - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    
    
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      
    - name: Run comprehensive test suite
      run: |
        ./setup.sh --env=github
        ./test-image-pulls.sh
      timeout-minutes: 25
      
